{# Phil: Templates to display time #}

{# 
  from 'handy_time.jinja' import long_time, short_time, smart_time,
   delta_mins, delta_hours, delta_days, delta_duration, format_hms,
   format_hours
#}

{# Return a string expressed in days #}
{# Parameters:
   - ts: Timestamp
#}
{%- macro long_time(ts) -%}
  {%- set d = ((as_timestamp(ts) + 43200 - as_timestamp(now())) / 43200) | int(0) -%}
  {%- set abs_d = d | abs -%}
  {%- set s = (
    "Today" if d == 0 else
    "Tomorrow" if d > 0 and d < 3 else
    "Yesterday" if d < 0 and d > -3 else
    ((abs_d + 1) / 2) | round | int(0) | string + " days" if abs_d < 28 else
    ((abs_d + 1) / 14) | round | int(0) | string + " weeks" if abs_d < 120 else
    ((abs_d + 1) / 60) | round | int(0) | string + " months" if abs_d < 1460 else
    ((abs_d + 1) / 730) | round | int(0) | string + " years"
  ) -%}
  {%- if d > 0 and abs_d > 3 -%}
    in {{ s }}
  {%- elif d < 0 and abs_d > 2 -%}
    {{ s }} ago
  {%- else -%}
    {{ s }}
  {%- endif -%}
{%- endmacro -%}

{# Return a string expressed in hours #}
{# Parameters:
   - ts: Timestamp
#}
{%- macro short_time(ts) -%}
  {%- set d = now()|as_timestamp - ts|as_timestamp -%}
  {%- set d = (((d / 30) | round(0, 'ceil')) * 30) - 30 -%}
  {%- set abs_d = d | abs -%}
  {%- set days = (abs_d / 86400) | round(0, 'floor') -%}
  {%- set hours = ((abs_d % 86400) / 3600) | round(0, 'floor') -%}
  {%- set mins = (((abs_d % 86400) % 3600) / 60) | round(0, 'floor') -%}
  {%- set secs = (((abs_d % 86400) % 3600) % 60) | round(0, 'floor') -%}
  {%- set s = (
    (days|string + 'd ' if days > 0 else '') +
    (hours|string + 'h ' if hours > 0 else '') +
    (mins|string + 'm ' if mins > 0 else '') +
    (secs|string + 's ' if secs > 0 and days < 1 else '')
  ) -%}
  {%- if d == 0 -%}
    now
  {%- elif d < 0 -%}
    in {{ s | trim }}
  {%- else -%}
    {{ s | trim }} ago
  {%- endif -%}
{%- endmacro -%}

{# Figure out based on time which string conversion to use #}
{# Parameters:
   - ts: Timestamp
#}
{%- macro smart_time(ts) -%}
  {%- set d = now()|as_timestamp - ts|as_timestamp -%}
  {%- set d = ((d / 30) | round(0, 'ceil')) * 30 -%}
  {%- set abs_d = d | abs -%}
  {%- set days = (abs_d / 86400) | round(0, 'floor') -%}
  {%- if days >= 14 -%}
    {{ long_time(ts) }}
  {%- else -%}
    {{ short_time(ts) }}
  {%- endif -%}
{%- endmacro -%}

{# How many days since this time #}
{# Parameters:
   - ts: Timestamp
#}
{%- macro delta_days(ts) -%}
  {%- set d = ts|as_timestamp - now()|as_timestamp -%}
  {%- set days = (d / 86400) | round(0) -%}
  {{ days }}
{%- endmacro -%}

{# How many hours since this time #}
{# Parameters:
   - ts: Timestamp
#}
{%- macro delta_hours(ts) -%}
  {%- set d = ts|as_timestamp - now()|as_timestamp -%}
  {%- set hours = (d / 3600) | round(0) -%}
  {{ hours }}
{%- endmacro -%}

{# How many minutes since this time #}
{# Parameters:
   - ts: Timestamp
#}
{%- macro delta_mins(ts) -%}
  {%- set d = ts|as_timestamp - now()|as_timestamp -%}
  {%- set mins = (d / 60) | round(0) -%}
  {{ mins }}
{%- endmacro -%}

{# Convert h:m:s into h m s string #}
{# Parameters:
   - t: Time in h:m:s format
#}
{%- macro format_hms(t) -%}
  {%- set ta = t.split(':') -%}
  {%- if ta[0]|int > 0 -%}{{- ta[0] -}}h {% endif -%}
  {%- if ta[1]|int > 0 -%}{{- ta[1] -}}m {% endif -%}
  {%- if ta[2]|int > 0 -%}{{- ta[2] -}}s {%- endif -%}
{%- endmacro -%}

{# Convert decimal hours into h m s #}
{# Parameters:
   - decminal_hours: Number of hours in decimal
#}
{%- macro format_hours(decimal_hours) -%}
  {%- set total_seconds = (decimal_hours * 3600) | round(0) -%}
  {%- if total_seconds == 0 -%}
    0s
  {%- else -%}
    {%- set sign = "-" if total_seconds < 0 else "" -%}
    {%- set total_seconds = total_seconds | abs -%}
    {%- set hours = (total_seconds // 3600) | int -%}
    {%- set minutes = ((total_seconds % 3600) // 60) | int -%}
    {%- set seconds = (total_seconds % 60) | int -%}
    {%- set time_str = (
      (hours|string + "h " if hours > 0 else "") +
      (minutes|string + "m " if minutes > 0 else "") +
      (seconds|string + "s " if seconds > 0 else "")
    ) | trim -%}
    {{ sign + time_str }}
  {%- endif -%}
{%- endmacro -%}

{# How many days between these times #}
{# Parameters:
   - ts1/ts2: Timestamps to calculate between
#}
{%- macro delta_duration(ts1, ts2) -%}
  {%- set d = ts1|as_timestamp - ts2|as_timestamp -%}
  {%- set sign = "+" if d >= 0 else "-" -%}
  {%- set d = d | abs -%}
  {%- set days = (d // 86400) | int -%}
  {%- set h = ((d % 86400) // 3600) | int -%}
  {%- set m = ((d % 3600) // 60) | int -%}
  {%- set s = (d % 60) | int -%}
  {%- set dhms = (days|string + "d " if days > 0 else "") + 
    (h|string + "h " if h > 0 else "") +
    (m|string + "m " if m > 0 else "") +
    (s|string + "s" if s > 0 else "") -%}
  {{ sign + dhms if d != 0 else '-' }}
{%- endmacro -%}
